/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme-dark .page {
  --bg-image: 
      url(../images/cover-image-dark.png),
      linear-gradient(#000028, #000028);
  --accent-color: #ff0070;
  --main-bg-color: #fff1f7;
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --main-heading-color: #000028;
  --section-heading-color: #000028;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --nav-border-color-active: #ff0070;
  --heading: #ff0070;
  --сorner-color: #ff0070;
  --display-rec: flex;
  --nav-border-hover-color: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  .page {
    --bg-image: 
      url(../images/cover-image-dark.png),
      linear-gradient(#000028, #000028);
  --accent-color: #ff0070;
  --main-bg-color: #fff1f7;
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --main-heading-color: #000028;
  --section-heading-color: #000028;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --nav-border-color-active: #ff0070;
  --heading: #ff0070;
  --сorner-color: #ff0070;
  --display-rec: flex;
  --nav-border-hover-color: rgba(255, 0, 112, 0.4);
    }
  }
