/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --nav-border-color-day: #353430;
  --nav-border-color-neon: transparent;
  --сorner-color: #353430;
  --heading: #353430;
  --display-rec: none;
  --nav-border-hover-color: rgba(50, 49, 45, 0.4);
}

.theme-light .page {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --nav-border-color-day: #353430;
  --nav-border-color-neon: transparent;
  --сorner-color: #353430;
  --heading: #353430;
  --display-rec: none;
  --nav-border-hover-color: rgba(50, 49, 45, 0.4);
}
@media (prefers-color-scheme: light) {
  .page {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --nav-color: #353430;
    --nav-hover-color: rgb(50 49 45 / 0.4);
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
    --nav-border-color-day: #353430;
    --nav-border-color-neon: transparent;
    --сorner-color: #353430;
    --heading: #353430;
    --display-rec: none;
    --nav-border-hover-color: rgba(50, 49, 45, 0.4);
    }
  }