:root {
  --main-font: raleway;
  --main-font-size: 18px;
  --accent-family: 'IBM Plex mono';
  --font-weight: 400;
  --main-gap: 18px;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (width >= 1024px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}